<web-app>
    <!--    Servlets for managing the session-->
    <servlet>
        <servlet-name>manager</servlet-name>
        <servlet-class>ManagerServlets.SessionManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>manager</servlet-name>
        <url-pattern>/ussd</url-pattern>
    </servlet-mapping>

</web-app>