<web-app>
    <!--    Servlets for managing the session-->
    <servlet>
        <servlet-name>manager</servlet-name>
        <servlet-class>ManagerServlets.SessionManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>manager</servlet-name>
        <url-pattern>/ussd</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>menu</servlet-name>
        <servlet-class>ManagerServlets.MasterMenu</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>menu</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>tranInfo</servlet-name>
        <servlet-class>TransactionServlets.TransactionInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>tranInfo</servlet-name>
        <url-pattern>/info</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>changePIN</servlet-name>
        <servlet-class>OtherServlets.ChangePIN</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>changePIN</servlet-name>
        <url-pattern>/changepin</url-pattern>
    </servlet-mapping>

    <!--    Servlets for handling Transactions-->
    <servlet>
        <servlet-name>tranRef</servlet-name>
        <servlet-class>TransactionServlets.Transaction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>tranRef</servlet-name>
        <url-pattern>/transact</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>recharge</servlet-name>
        <servlet-class>TransactionServlets.Recharge</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>recharge</servlet-name>
        <url-pattern>/recharge</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>balance</servlet-name>
        <servlet-class>OtherServlets.Balance</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>balance</servlet-name>
        <url-pattern>/balance</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>statement</servlet-name>
        <servlet-class>OtherServlets.Statement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>statement</servlet-name>
        <url-pattern>/statement</url-pattern>
    </servlet-mapping>
</web-app>