<web-app>
    <servlet>
        <servlet-name>manager</servlet-name>
        <servlet-class>Servlets.SessionManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>manager</servlet-name>
        <url-pattern>/ussd</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>cacheReload</servlet-name>
        <servlet-class>Servlets.CacheReloader</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cacheReload</servlet-name>
        <url-pattern>/reload</url-pattern>
    </servlet-mapping>

</web-app>